<link rel="stylesheet" type="text/css" href="/styles/background.css">
<link rel="stylesheet" type="text/css" href="/styles/text.css">
<link rel="stylesheet" type="text/css" href="/styles/images.css">
<link rel="stylesheet" type="text/css" href="/styles/buttons.css">

<h1>Looney tune</h1>
<div class="show-image">
  <img src="<%= @looney.url %>"/>
  </div>
  <p>Name: <%= @looney.name %></p>
  <p>Breed: <%= @looney.breed %></p>
  <p>Days in: <%= @looney.days_in %></p>
  <p>Owner: <%= @looney.owners_id != 'null' ? @looney.owner.name : "Up for Adoption"%></p>
</div>


<form class = "button--erase" action="/looneys/<%= @looney.id %>/delete" method="post">
  <input type="submit" value="Erase" /> 
</form>
<form class = "button--update" action="/looneys/<%= @looney.id %>/edit" method="get">
  <input type="submit" value="Update details" /> 
  </form>

