<link rel="stylesheet" type="text/css" href="/styles/background.css">
<link rel="stylesheet" type="text/css" href="/styles/text.css">

<h1>Looney tune</h1>
<div>
<img src="<%= @looney.url %>"/>
<p>Name: <%= @looney.name %></p>
<p>Breed: <%= @looney.breed %></p>
<p>Days in: <%= @looney.days_in %></p>
<p>Owner: <%= @looney.owners_id != 'null' ? @looney.owner.name : "Up for Adoption"%></p>
</div>


<form action="/looneys/<%= @looney.id %>/delete" method="post">
  <input type="submit" value="Erase" /> 
</form>
<form action="/looneys/<%= @looney.id %>/edit" method="get">
  <input type="submit" value="Update details" /> 
  </form>

